html {
    margin: 0;
    padding: 0;
    background-color: white;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#svgContainer {
    width: 640px;
    height: 512px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.button{
    background-color: white;
    color: #541c05;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
    border: 1px solid #541c05;
    padding: 10px 20px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    margin-top: 35vh;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #541c05;
    color: white;
  }