@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

.center-xy {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
html,
body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}
html {
  box-sizing: border-box;
  user-select: none;
}
body {
  background-color: #000;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.container {
  width: 100%;
}
.copy-container {
  text-align: center;
}
.button {
  position: absolute;
  z-index: 1;
  background-color: #000;
  color: #ffe500;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0;
  transition: all 0.3s;
  border: 1px solid #ffe500;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  margin-top: 15vh;
}

.button:hover {
  background-color: #ffe500;
  color: #000;
}

p {
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.2px;
  margin: 0;
  width: auto;
  min-width: fit-content;
}
.handle {
  background: #ffe500;
  width: 14px;
  height: 30px;
  display: block;
  top: 0;
  left: 0;
  margin-top: 1px;
  position: absolute;
}
#cb-replay {
  fill: #666;
  width: 20px;
  margin: 15px;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: inherit;
  cursor: pointer;
}
#cb-replay:hover {
  fill: #888;
}
